<div class="wrap-blog tc">
  {% if article.image %}
  <a href="{{ article.url }}" class="article__grid-image lazyload" style="padding-bottom:{{secSt.img_ratio}}%" title="{{ article.title }}"
     data-bgset="{% render 'prgrid-img', image: article.image, sizes: sizes %}" data-sizes="auto" data-parent-fit="contain" style="padding-bottom:{{ 1 | divided_by: collection_image.aspect_ratio | times: 100}}%;"></a>
  {% endif %}
  <div class="article__grid-meta {{ secSt.blog_align }}{% if article.image %} article__grid-meta--has-image{% endif %}">
      <a class="gridbt {{secSt.blogtf}} {{ secSt.blogtw}}" href="{{ article.url }}" style="--blogfsm:{{ secSt.blogfsm}}px;--blogfs:{{secSt.blogfs}}px;--lh:{{ secSt.blh | default:'normal'}}">{{ article.title }}</a>
      <ul class="publish-detail">
        {% if secSt.blog_show_date %}<li class="article__date">{{ article.published_at | time_tag: format: 'date' }}</li>{% endif %}
        {% if secSt.blog_show_author %}<li class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</li>{% endif %}
        {% if secSt.show_comment and blog.comments_enabled? and article.comments_count > 0 %}<li><i class="at at-comments-l" aria-hidden="true"></i><a href="{{ article.url }}#comments">{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a></li>{% endif %}
      </ul>
      {% if secSt.show_mini_des %}
      <div class="rte article__grid-excerpt">{% if article.excerpt.size > 0 %}{{ article.excerpt | strip_html | truncate: secSt.twords }}{% else %}{{ article.content | strip_html | truncate: secSt.twords }}{% endif %}</div>
      {% endif %}
      {% if secSt.show_read_more %}<a href="{{ article.url }}" class="btn {{secSt.btn-size-mob}} {{secSt.btn-size-desk}} {{secSt.btn-style}}">{{ 'blogs.article.read_more' | t }}</a>{% endif %}
  </div>
</div>