{%- capture navigation -%}{% section 'navigation' %}{%- endcapture -%}
{%- if navigation contains '<!--mmobile-->' -%}{% assign endiv = '</div>'  %}{%- endif -%}
{%- assign desktopnav = navigation | split: '<!--mmobile-->' | first | append: endiv  -%}
{%- assign mobilenav = navigation | split: '<!--mmobile-->' | last | split: '<!--mmobileend -->' | first   -%}
{%- capture siteHeader -%}
{% if settings.snow_effect %}<div class="snow-wrap falling-snow{% if settings.snow_style == "style2" %} style2{% else %} style1{% endif %}">{% endif %}

{%- comment -%}*** Top Announcement ***{%- endcomment -%}
{%- if settings.announcement -%}
<div class="pr tc fl f-jcc f-aic notification-bar{% if settings.announcement_mb %} hide-sm{% endif %}" style="--tcl:{{ settings.annouance_txt }}; --tfw: {{settings.annouance_fw}};--tfs:{{settings.annouance_fs}}px;--tfsm:{{settings.annouance_fsm}}px">
	{%- if settings.announcement_link != blank -%}
		<a href="{{ settings.announcement_link }}" class="ttlTxt db">{{ settings.announcement_txt }}</a>
	{%- else -%}
		<span class="ttlTxt db">{{ settings.announcement_txt }}</span>
	{%- endif -%}
	<span class="close-announcement"><i class="at at-times-l" aria-hidden="true"></i></span>
</div>
{%- endif -%}

{% comment %}*** Top Bar ***{% endcomment %}
{% assign topheaderMb = '' %}
{%- if settings.leftTxt-mobile and settings.centerTxt-mobile and settings.rightTxt-mobile -%}
	{% assign topheaderMb = 'hide-sm hide-md' %}
{%- endif -%}
{%- if settings.topbar -%}
<div class="top-header-wrapper">
	<div class="top-header fl f-aic f-col f-row-md{% if settings.topbar_fullwidth %} fullwidth{% else %} page-width{% endif %} {{topheaderMb}}">
		{%- if settings.leftTxt != blank -%}
			<div class="header-txt fl1 left-hdr{% if settings.leftTxt-mobile %} hide-sm hide-md{% else %} small--tc{% endif %}">
				{%- if settings.leftTxt contains "[social-icons]"-%}
					{%- assign topLeftTxt = settings.leftTxt | split: "[social-icons]" -%}
					{{topLeftTxt[0]}} {% render 'social-media' %} {{topLeftTxt[1]}}
				{%- else -%}
					{{ settings.leftTxt }}
				{%- endif -%}
			</div>
		{%- endif -%}
		{%- if settings.centerTxt != blank -%}
			<div class="header-txt fl1 middle-hdr tc{% if settings.centerTxt-mobile %} hide-sm hide-md{% endif %}">{{ settings.centerTxt }}</div>
		{%- endif -%}
		{%- if settings.rightTxt != blank -%}
			<div class="header-social fl1 right-hdr tr{% if settings.rightTxt-mobile %} hide-sm hide-md{% else %} small--tc{% endif %}">
				{%- if settings.rightTxt contains "[social-icons]"-%}
					{% assign topRightTxt = settings.rightTxt | split: "[social-icons]" %}
					{{topRightTxt[0]}} {% render 'social-media' %} {{topRightTxt[1]}}
				{%- else -%}
					{{settings.rightTxt}}
				{%- endif -%}
			</div>
		{%- endif -%}
	</div>
</div>
{%- endif -%}

{% comment %}*** Main Header ***{% endcomment %}
{%- capture logo -%}
  	{%- capture logoWidth -%}{{ settings.logo_width | escape }}x{%- endcapture -%}
	<{% if template == 'index'%}h1 {% else %}div {% endif %}class="header-logo">
		<a href="{{ routes.root_url }}" class="header-logo-link">
			{%- if settings.home_classic and template == 'index' and settings.logo_cl != blank -%}
				<img src="{{ settings.logo_cl | img_url: logoWidth }}" width="{{settings.logo_width}}" height="{{settings.logo_width | divided_by: settings.logo_cl.aspect_ratio | floor}}" class="cllogo" alt="{{ settings.logo_cl.alt | default: shop.name }}" srcset="{{ settings.logo_cl | img_url: logoWidth, scale: 2 }} 1x, {{ settings.logo_cl | img_url: logoWidth, scale: 4 }} 1.1x">
                <img src="{{ settings.logo | img_url: logoWidth }}" width="{{settings.logo_width}}" height="{{settings.logo_width | divided_by: settings.logo.aspect_ratio | floor}}" class="stlogo" alt="{{ settings.logo.alt | default: shop.name }}" srcset="{{ settings.logo | img_url: logoWidth, scale: 2 }} 1x, {{ settings.logo | img_url: logoWidth, scale: 4 }} 1.1x">
          	{%- elsif settings.logo != blank -%}
				<img src="{{ settings.logo | img_url: logoWidth }}" width="{{settings.logo_width}}" height="{{settings.logo_width | divided_by: settings.logo.aspect_ratio | floor}}" alt="{{ settings.logo.alt | default: shop.name }}" srcset="{{ settings.logo | img_url: logoWidth, scale: 1 }} 1x, {{ settings.logo | img_url: logoWidth, scale: 2 }} 2x">
			{%- else -%}
				{{ shop.name }}
			{%- endif -%}
		</a>
	</{% if template == 'index'%}h1{% else %}div{% endif %}>
{%- endcapture -%}
{%- capture textblock -%}
	{%- if settings.hdTxt-block contains "[social-icons]"-%}
		{%- assign headerTxt = settings.hdTxt-block | split: "[social-icons]" -%}
		{{headerTxt[0]}} {% render 'social-media' %} {{headerTxt[1]}}
	{%- else -%}
		{{ settings.hdTxt-block }}
	{%- endif -%}
{%- endcapture -%}
<div id="header" data-section-id="header" data-section-type="header-section" {% if settings.home_classic and template == "index" %}class="classic-style"{% endif %}>
		<header class="site-header fl f-aic {{settings.align_logo}}{% if settings.nav_below_logo %} nav-below{% endif %}{% if settings.main_header_fullwidth %} fullwidth{% else %} page-width{% endif %}">
			<div class="mobile-nav hide-lg">
				<a href="#" class="hdicon js-mobile-nav-toggle open" title="{{ 'layout.navigation.menu' | t }}"><i class="at at-bars-l" aria-hidden="true"></i></a>
				{% if settings.enable_search %}
              		<a href="{{ routes.search_url }}" class="hdicon searchIco" title="{{ 'general.search.tool_tip' | t }}"><i class="at at-search-l"></i></a>
                {% endif %}
			</div>
			{%- if settings.align_logo == "left" -%}{{logo}}{%- endif -%}
			{%- if settings.nav_below_logo -%}
				<div class="txtBlock hide-sm hide-md{% if settings.align_logo == "left" %} tc{% endif %}">{{textblock}}</div>
			{%- else -%}
				{{desktopnav}}
			{%- endif -%}
			{% if settings.align_logo == "center" %}{{logo}}{% endif %}
				<div class="icons-col fl f-jce f-aic">
                  	{% if settings.enable_search %}
						<a href="{{ routes.search_url }}" class="hdicon searchIco hide-sm hide-md" title="{{ 'general.search.tool_tip' | t }}"><i class="at at-search-l"></i></a>
                  	{% endif %}
                  
                   
                  	{% if shop.customer_accounts_enabled or settings.show_multiple_currencies or settings.show_language %}
					<a href="{{ routes.account_url }}" class="hdicon site-settings" title="{{ 'layout.header_settingbox.icon_tooltip' | t }}">
                     <i class="{{ settings.my_account_icn }}"></i>
                    </a> 
                  	{% endif %}
                    {% render 'customer-links' %}
                
                  
					{% if settings.enable_wishlist %}<a href="{{pages[settings.wishlist_page].url}}" class="hdicon wishlist hide-sm hide-md" title="{{ 'products.wishlist.title' | t }}"><i class="at at-heart-l"></i><span class="favCount hide">0</span></a>{% endif %}
					{%- unless settings.catalogmode -%}
                        <a href="{{ routes.cart_url }}" id="cartLink" class="hdicon{% if settings.ajax_cart %} header-cart{% endif %}" title="{{ 'layout.cart.title' | t }}">
                            <i class="at at-{{settings.icon_style}}"></i> <span id="CartCount" class="site-header__cart-count">{{ cart.item_count }}</span>
                        </a>
                    {%- endunless -%}
				</div>
		</header>
		{%- if settings.nav_below_logo -%}{{desktopnav}}{%- endif -%}
</div>
<div class="stickySpace"></div>
{%- if settings.snow_effect -%}</div>{%- endif -%}
{{mobilenav}}
{%- endcapture -%}
{{siteHeader | strip_newlines | remove: "  " | remove: "	" }}
