<form action="{{ routes.search_url }}" method="get" class="pr search-header search" role="search">
  {% if settings.searchpr %}<input type="hidden" name="type" value="product">{% endif %}
  <input type="hidden" name="options[unavailable_products]" value="{{settings.soldpr}}" id="unprod">
  <input type="hidden" name="options[prefix]" value="last">
  <div class="input-group">
    <input class="input-group__field search__input" type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms | escape }}" autocomplete="off" />
    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
    <span class="input-group__btn">
      <button class="btn search__submit" type="submit"><i class="at at-search-l"></i> <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span></button>
    </span>
  </div>
  {% if settings.searchaj %}<div class="search-results" style="display:none;"></div>{% endif %}
</form>