{%- liquid
    assign isRtl = false
    assign lisRtl = 'ar,dv,ha,he,ku,fa,ur,ug' | split: ','
    if lisRtl contains request.locale.iso_code or settings.rtl
        assign isRtl = true
    endif
-%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" {% if isRtl %}dir="rtl"{% endif %}><head>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="{{ settings.mob_browser }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="dns-prefetch" href="https://{{shop.domain}}" crossorigin>
  <link rel="dns-prefetch" href="https://{{shop.permanent_domain}}" crossorigin>
  <link rel="dns-prefetch" href="https://cdn.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https//fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https//cdn.shopify.com" crossorigin>
  
  {%- if settings.favicon != blank -%}<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">{%- endif -%}
  {%- if settings.favicon_retina != blank -%}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_retina | img_url: '152x' }}">{%- endif -%}

  <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

  {% include 'social-meta-tags' %}

  {%- capture mainjs -%}
  	{%- render 'head-css', isRtl:isRtl -%}
  	<link rel="stylesheet" href="{% if isRtl %}{{ 'themeRtl.css' | asset_url }}{% else %}{{ 'theme.css' | asset_url }}{% endif %}" type="text/css" media="all">
    <script src="{{ 'lazysizes.js' | asset_url }}" async></script>
  	<script src="{{ 'jquery.min.js' | asset_url }}"defer="defer"></script>
	<script>
		var theme = {
			strings:{
				addToCart:{{ 'products.product.add_to_cart' | t | json }},soldOut:{{ 'products.product.sold_out' | t | json }},unavailable:{{ 'products.product.unavailable' | t | json }},showMore:{{ 'general.filters.show_more' | t | json }},showLess:{{ 'general.filters.show_less' | t | json }}
			},
			mlcurrency:{%- if settings.show_multiple_currencies and settings.currency_opt == 'script' -%}true{%- else -%}false{% endif %},moneyFormat:{{ shop.money_format | json }},shopCurrency:{{ shop.currency | json }},autoCurrencies:{{ settings.auto_currencies }},money_currency_format:{{ shop.money_with_currency_format | strip_html | json }},money_format:{{ shop.money_format | strip_html | json }},
			ajax_cart:{{settings.ajax_cart }},fixedHeader:{{settings.show_sticky_header }},animation:{{settings.enable_site_animation }},animationMobile:{{settings.site_animation_mobile }},searchresult:{{ 'general.search.all' | t | json }},wlAvailable:{{ 'products.wishlist.available' | t | json }},rtl:{{ isRtl }},
		};
		document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		var Metatheme = {{shop.metafields.mytheme.Avone |json}},thm = 'Avone', shpeml = '{{shop.email}}', dmn = window.location.hostname;
        window.lazySizesConfig = window.lazySizesConfig || {};
		window.lazySizesConfig.loadMode = 1;
      	window.lazySizesConfig.loadHidden = false;
        window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };
      window.cartStrings = {
        error: `{{ 'cart.general.error' | t }}`,
        quantityError: `{{ 'cart.general.quantity_error_html' | t: quantity: '[quantity]' }}`
      };
	</script>
	<script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  {%- endcapture -%}
  {{mainjs | strip_newlines | remove: "	" }}

 <style>
.template-password { height: 100vh }
.password-page { display: table; height: 100%; width: 100%;}
.ie9 .password-page { height: auto }
.password-page .errors, .password-page .form-success { max-width: 500px; margin-left: auto; margin-right: auto }
.password-page .share-title { display: none }
.password-header { height: 85px; display: table-row }
.password-header__inner { display: table-cell; vertical-align: middle }
.password-login { padding: 0 30px; text-align: right }
.password-logo .logo { font-weight: 700; max-width: 100% }
.password-main { display: table-row; width: 100%; height: 100%; margin: 0 auto }
.password-main .site-header__logo-image img { margin-bottom: 15px }
.password-main #contact_form .password__form-heading { font-size: 14px; margin-bottom: 15px }
.password-main #contact_form .btn { padding-left: 15px; padding-right: 15px; font-size: 14px }
.password-main__inner { display: table-cell; vertical-align: middle; padding: 7.5px }
.password-message { max-width: 500px; margin: 22.5px auto 7.5px }
.password__input-group { max-width: 340px; margin: 0 auto 15px }
.password__form-heading { margin-bottom: 15px }
.password-powered-by { margin-top: 25px }
#shopify-section-password-content { width: 500px; margin-top: -75px }
   
@media only screen and (max-width: 766px) {
#shopify-section-password-content { width: 100% }
}
</style>
  
  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
  
{% render 'weglot_hreftags' %}
{% render 'weglot_switcher' %}
</head>

<body class="template-password">
  <div class="password-page tc">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn2">{{ 'general.password_page.password_link' | t }} <i class="at at-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </header>
    <div class="password-main tc" role="main">
      <div class="password-main__inner">{{ content_for_layout }}</div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width tc">
        <div class="shopify-section">
          <div class="passCnt">
              <p class="password__form-heading h4">{{ 'general.password_page.login_form_heading' | t }}</p>
                {% form 'storefront_password' %}
                  {{ form.errors | default_errors }}
                  <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                  <div class="input-group password__input-group">
                    <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                    <span class="input-group__btn">
                      <button type="submit" name="commit" class="btn btn--narrow">
                        {{ 'general.password_page.login_form_submit' | t }}
                      </button>
                    </span>
                  </div>
                {% endform %}
              <p class="last-child">{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn2 modal__close js-modal-close">
      <i class="at at-times-r" aria-hidden="true"></i>
      <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
    </button>
  </div>
  <link rel="stylesheet" href="{% if isRtl %}{{ 'defaultRtl.css' | asset_url }}{% else %}{{ 'default.css' | asset_url }}{% endif %}" type="text/css" media="all">
<script src="{{ 'option_selection.js' | shopify_asset_url }}" defer="defer"></script>
{%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    <script src="{{ 'customer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if content_for_layout contains 'data-stellar-background-ratio' -%}<script src="{{ 'stellar.js' | asset_url }}" defer></script>{%- endif -%}
{%- if content_for_layout contains 'grid-masonary' or request.design_mode -%}<script src="{{ 'masonry.js' | asset_url }}" defer="defer"></script>{%- endif -%}
{%- if settings.show_multiple_currencies and settings.currency_opt == 'script' -%}{%- render 'currencies' -%}{%- endif -%}
{%- if settings.enable_site_animation -%}<script src="{{ 'wow.min.js' | asset_url }}" async></script>{%- endif -%}
<script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
{%- if request.design_mode -%}
    <script src="{{ 'admin.js' | asset_url }}" defer="defer"></script>
    {{ 'admin.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if settings.show_sticky_arrow -%}<span id="site-scroll"><i class="at at-arw-up" aria-hidden="true"></i></span>{%- endif -%}
<script>
window.addEventListener('DOMContentLoaded',function(){
	$(document).ready(function(){
		{%- if settings.mailChimp_url != blank -%}
            $(".mcNewsletter").submit(function(e){
                  var $form = $(this);
                  e.preventDefault();
                  $.ajax({
                      type: 'GET',
                      url: $(this).attr('action'),
                      data: $(this).serialize(),
                      cache: false,
                      dataType: 'json',
                      contentType: "application/json; charset=utf-8",
                      error: function(err){ alert("Could not connect to the registration server. Please try again later."); },
                      success: function(data){
                          if (data.result == "success"){
                              $($form).find(".form-success").html(data.msg).show();
                              $($form).find(".errors").hide();
                          }else{
                              $($form).find(".errors").html(data.msg).show();
                          }
                      }
                  });
            });
        {%- endif -%}
	});
});
</script>
</body>
</html>