{%- liquid
    assign isRtl = false
    assign lisRtl = 'ar,dv,ha,he,ku,fa,ur,ug' | split: ','
    if lisRtl contains request.locale.iso_code or settings.rtl
        assign isRtl = true
    endif
   assign secSt = section.settings
-%}
{%- capture collection_list -%}
{%- capture styles -%}
    --tcl:{{secSt.cl}};
    --dtbg:{{secSt.bg | color_modify:'alpha', secSt.opt}};  {% if secSt.style == 'st8' %}--bgt:{{ secSt.bg | color_to_hex }}00;{% endif %}
    --dtbgm:{{secSt.bg}};
    --dtbdr:{{secSt.bdr}}px;
    
    --tff:var(--{{secSt.tff}});
    --tfs:{{secSt.tfs}}px;
    --tfsm:{{secSt.tfsm}}px;      
    --tfw:{{secSt.tfw}};
    --tlh:{{secSt.tlh}};
    
    --img_rad:{{ secSt.img_rad }}px;   

    --dtfs:{{secSt.fs}}px;
    --dtfsm:{{secSt.fsm}}px;
    --dtfw:{{secSt.fw}};
    --dtlh:{{secSt.lh}};
    
{% endcapture %}
<div class="content-indent {{ secSt.top-offeset}}{% if secSt.section_cov %} section-cover{% endif %}{% if secSt.hide_mobile %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" {% if secSt.section_cov %}style="background:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{secSt.sec_bg_clr}}{% endif %};"{% endif%}>
  <div class="clbox cl{{ section.id }} {{secSt.style}} {% unless secSt.section_width %}page-width {% else %}fullwidth{% if secSt.npd %} npd{% endif %}{% endunless %}" id="sliderbox-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="carousel">
    
     {% render 'sec-title' %}

      <div class="grid gspace tc rwcols-{{secSt.mobile-grid}} rwcols-md-{{secSt.tablet-grid}} rwcols-lg-{{secSt.grid}} box-{{section.id}} collection-grid{% if secSt.enable_carousel %} carousel{% unless secSt.section_width %} arwOut{% endunless %}{% else %} grid--uniform listing{% endif %}{% if secSt.disable_zoom %} no-zoom{% endif %}"
           {% if secSt.enable_carousel %}data-flickity='{ "cellAlign":"left","groupCells":true,"wrapAround":true,"pageDots":false{%- if secSt.autoplay -%},"autoPlay":{{secSt.speed | times: 1000}}{% endif %}{%- if isRtl -%},"rightToLeft": true{%- endif -%} }'{% endif %}
           style="--grsp:0 -{{ secSt.grid-spacing | divided_by: 2.0  }}px;--grspi:0 {{ secSt.grid-spacing | divided_by: 2.0  }}px {{secSt.grid-spacing}}px;--grspm:0 -{{ secSt.grid-spacing-mbl | divided_by: 2.0  }}px;--grspim:0 {{ secSt.grid-spacing-mbl | divided_by: 2.0  }}px {{secSt.grid-spacing-mbl}}px;{{styles}}">
        {% for block in section.blocks limit: section.blocks.size %}
          {% assign product_box = forloop.index | minus:1 %}
          {% assign delay_time = 50 | times : product_box %}
          <div class="gitem wow fadeIn" {{ block.shopify_attributes }} data-wow-delay="{{delay_time}}ms" id="{{ block.id }}" {{ block.shopify_attributes }}>
            {%- assign collection = collections[block.settings.collection] -%}
             {% render 'collection-grid-item', collection: collection, blkSt: block.settings, secSt: section.settings, collection_image_size: image_size, text_align:{{secSt.txt-align}} %}
          </div>
        {% endfor %}
      </div>    
    {% if section.blocks.size == 0 %}{% include 'no-blocks' %}{% endif %}
  </div>
</div>
{% if secSt.show_buttons %}
<style>@media only screen and (min-width:766px) { .box-{{section.id}} .details { padding:20px; }}</style>
{% endif %}
{%- endcapture -%}
{{collection_list | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
{
    "name": "t:sections.collections.list_name",
    "class": "index-section",
    "max_blocks": 15,
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "t:sections.all.head",
            "default": "Collection List"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.all.sub_head",
            "default": "Describe your products, collection, content etc..."
        },
        {
            "type": "paragraph",
            "content": "t:sections.collections.style"
        },
        {
            "type": "header",
            "content": "t:sections.all.name"
        },
        {
            "type": "select",
            "id": "top-offeset",
            "label": "t:sections.all.top_offSet",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "section_width",
            "label": "t:global.fullwidth",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "npd",
            "label": "t:global.no_padding",
            "info": "t:global.no_padding_info",
            "default": false
        },
      {
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "t:global.devices.mobile_hide",
            "default": false
        },
       {
            "type": "checkbox",
            "id": "hided",
            "label":"t:global.devices.desktop_hide",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "section_cov",
            "label": "t:global.background.add",
            "default": false,
            "info": "select light color"
        },
        {
            "type": "color",
            "id": "sec_bg_clr",
            "label": "t:global.background.color",
            "default": "#fafafa"
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "t:global.background.gradient"
        },       
        {
            "type": "header",
            "content": "t:global.grid.name"
        },
        {
            "type": "range",
            "id": "grid-spacing",
            "label": "t:global.grid.space",
            "default": 15,
            "min": 0,
            "max": 60,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "grid-spacing-mbl",
            "label": "t:global.grid.space_mobile",
            "default": 5,
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "info": "t:global.grid.space_info"
        },
        {
            "type": "paragraph",
            "content": "t:global.grid.row"
        },
        {
            "type": "range",
            "id": "grid",
            "label": "t:global.devices.desktop",
            "default": 4,
            "min": 2,
            "max": 7,
            "step": 1
        },
        {
            "type": "range",
            "id": "tablet-grid",
            "label": "t:global.devices.tablet",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
        },
        {
            "type": "range",
            "id": "mobile-grid",
            "label": "t:global.devices.mobile",
            "default": 2,
            "min": 1,
            "max": 3,
            "step": 1
        },
        {
            "type": "select",
            "id": "style",
            "label": "t:global.grid.style",
            "default": "st1",
            "options": [
                {
                    "value": "st1",
                    "label": "Style 1"
                },
                {
                    "value": "st2",
                    "label": "Style 2"
                },
                {
                    "value": "st3",
                    "label": "Style 3"
                },
                {
                    "value": "st4",
                    "label": "Style 4"
                },
                {
                    "value": "st5",
                    "label": "Style 5"
                },
                {
                    "value": "st6",
                    "label": "Style 6"
                },
			    {
                    "value": "st7",
                    "label": "Style 7 - Round Banners"
                },
                {
                    "value": "st8",
                    "label": "Style 8 - Mask"
                } 
            ]
        },    
        {
            "type": "select",
            "id": "textalign",
            "label": "t:global.text.align",
            "default": "tc",
            "options": [
                {
                    "value": "tl",
                    "label": "Left"
                },
                {
                    "value": "tc",
                    "label": "Center"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "leftpadzero",
            "label": "t:sections.collections.text_left_padding",
            "default": false,
            "info": "t:sections.collections.text_left_padding_info"
        },
        {
            "type": "checkbox",
            "id": "product_count",
            "label": "t:sections.collections.products_count",
            "default": false
        },
        {
            "type": "range",
            "id": "img_rad",
            "min": 0,
            "max":200,
            "step": 5,
            "label": "t:global.image.radius",
            "unit": "px",
            "default": 0
        },
        {
            "type": "checkbox",
            "id": "disable_zoom",
            "label": "t:sections.collections.disable_image_zoom",
            "default": false
        },
        {
            "type": "paragraph",
            "content": "t:sections.all.heading.title"
        },
        {
            "type": "range",
            "id": "tfs",
            "label": "t:global.font.size",
            "default": 16,
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "tfsm",
            "label": "t:global.font.size_mobile",
            "default": 15,
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "tff",
            "label": "t:global.font.family",
            "default": "ft1",
            "options": [
                {
                    "value": "ft1",
                    "label": "Font 1"
                },
                {
                    "value": "ft2",
                    "label": "Font 2"
                },
                {
                    "value": "ft3",
                    "label": "Font 3"
                }
            ]
        },
        {
            "type": "select",
            "id": "tfw",
            "label": "t:global.font.weight",
            "default": "500",
            "options": [
                {
                    "value": "300",
                    "label": "Light"
                },
                {
                    "value": "400",
                    "label": "Regular"
                },
                {
                    "value": "500",
                    "label": "Medium"
                },
                {
                    "value": "600",
                    "label": "Semi Bold"
                },
                {
                    "value": "700",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "range",
            "id": "tlh",
            "label": "t:global.font.height",
            "default": 1.2,
            "min": 1.0,
            "max": 2.0,
            "step": 0.1           
        },
      {
            "type": "paragraph",
            "content": "t:sections.all.heading.details"
        },
        {
            "type": "range",
            "id": "fs",
            "label": "t:global.font.size",
            "default": 13,
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "fsm",
            "label": "t:global.font.size_mobile",
            "default": 12,
            "min": 10,
            "max": 50,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "select",
            "id": "fw",
            "label": "t:global.font.weight",
            "default": "400",
            "options": [
                {
                    "value": "300",
                    "label": "Light"
                },
                {
                    "value": "400",
                    "label": "Regular"
                },
                {
                    "value": "500",
                    "label": "Medium"
                },
                {
                    "value": "600",
                    "label": "Semi Bold"
                },
                {
                    "value": "700",
                    "label": "Bold"
                }
            ]
        },
        {
            "type": "range",
            "id": "lh",
            "label": "t:global.font.height",
            "default": 1.2,
            "min": 1.0,
            "max": 2.0,
            "step": 0.1           
        },
        {
            "type": "color",
            "id": "cl",
            "label": "Text",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "bg",
            "label": "Background",
            "default": "#000"
        },
        {
            "type": "range",
            "id": "opt",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "label": "t:global.background.opacity",
            "unit": "%",
            "default": 0.9
        },
        {
            "type": "range",
            "id": "bdr",
            "min": 0,
            "max": 30,
            "step": 1,
            "label": "t:global.background.radius",
            "unit": "px",
            "default": 0
        },
        {
            "type": "paragraph",
            "content": "t:sections.all.heading.button"
        },
        {
            "type": "checkbox",
            "id": "show_buttons",
            "label": "t:global.display",
            "default": false
        },
        {
            "type": "select",
            "id": "btn-style",
            "label": "t:global.button.select",
            "default": "btn",
            "options": [
                {
                    "label": "Solid Button 1",
                    "value": "btn"
                },
                {
                    "label": "Solid Button 2",
                    "value": "btn2"
                },
                {
                    "label": "Solid Button 3",
                    "value": "btn3"
                },
                {
                    "label": "Border Button 1",
                    "value": "bdr-btn1"
                },
                {
                    "label": "Border Button 2",
                    "value": "bdr-btn2"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn-size-desk",
            "label": "t:global.button.size",
            "default": "btn-sm",
            "options": [
                {
                    "label": "Small",
                    "value": "btn-sm"
                },
                {
                    "label": "Medium",
                    "value": "btn-md"
                },
                {
                    "label": "Large",
                    "value": "btn-lg"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn-size-mob",
            "label": "t:global.button.size_mobile",
            "default": "mob-btn-sm",
            "options": [
                {
                    "label": "Small",
                    "value": "mob-btn-sm"
                },
                {
                    "label": "Medium",
                    "value": "mob-btn-md"
                },
                {
                    "label": "Large",
                    "value": "mob-btn-lg"
                }
            ]
        },
       {
            "type": "header",
            "content": "t:sections.all.carousel.name"
        },
        {
            "type": "checkbox",
            "id": "enable_carousel",
            "label": "t:global.enable",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "t:sections.all.carousel.autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "speed",
            "label": "t:sections.all.carousel.speed",
            "default": 5,
            "min": 1,
            "max": 30,
            "step": 1,
            "unit": "Sec"
        },
    ],
    "blocks": [
        {
        "type": "featured_collection",
        "name": "t:sections.collections.block.name",
        "settings": [
            {
                "label": "t:sections.collections.block.name",
                "id": "collection",
                "type": "collection"
            },
            {
                "type": "image_picker",
                "id": "collection_image",
                "label": "t:global.image.name"
            },
            {
                "type": "textarea",
                "id": "collection_name",
                "label": "t:sections.collections.block.custom_name"
            },
           {
                "type": "textarea",
                "id": "collection_name2",
                "label": "t:global.text.detail",
                  
           },
            {
                "type": "text",
                "id": "collection_btn",
                "label": "t:global.button.text",
                "default": "Shop Now"
            },
            {
                "type": "url",
                "id": "url",
                "label": "t:sections.collections.block.link",
                "info": "t:sections.collections.block.link_info"
            }
        ]
    }],
    "presets": [
        {
            "name": "t:sections.collections.list_name",
            "category": "Banners",
            "settings": {
                "grid": 4
            },
            "blocks": [
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                }
            ]
        }
    ]
}
{% endschema %}