{%- assign secSt = section.settings -%}
<div class="content-indent {{ secSt.top-offeset}}{% if secSt.section_cov %} section-cover{% endif %}{% if secSt.hide_mobile %} hide-sm{% endif %}{% if secSt.hided %} hide-md hide-lg{% endif %}" id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="masonary"
     {% if secSt.section_cov %}style="background:{% if secSt.bgg != blank %}{{ secSt.bgg }}{% else %}{{secSt.sec_bg_clr}}{% endif %};"{% endif%}>
  	
  <div class="custom-block{{secSt.style}}{% unless secSt.section_width %} page-width {% else %} fullwidth{% endunless %}">

     {% render 'sec-title' %}

      <div class="custom-content grid f-ais gspace grid-masonary clearfix"
        style="--grsp:0 -{{ secSt.grid-spacing | divided_by: 2.0  }}px;--grspi:0 {{ secSt.grid-spacing | divided_by: 2.0  }}px {{secSt.grid-spacing}}px;--grspm:0 -{{ secSt.grid-spacing-mbl | divided_by: 2.0  }}px;--grspim:0 {{ secSt.grid-spacing-mbl | divided_by: 2.0  }}px {{secSt.grid-spacing-mbl}}px;">
        <div class="grid-sizer-{{section.id}} col-{{secSt.grid-spacing-col}}"></div>
        {% for block in section.blocks %}
            {%- assign blkSt = block.settings -%}
            {%- assign custom_box = forloop.index | minus:1 -%}	 
            {%- assign delay_time = 100 | times : custom_box -%}

        <div class="gitem custom__item mb0 ms-item custom__item--{{block.id}} wd100 {{ blkSt.width }} block-{{block.type}}" {{ block.shopify_attributes }}>
          <div class="ct-inner ct-inner-{{ block.type }}" data-wow-delay="{{delay_time}}ms" style="border-radius: {{blkSt.bg_rad}}px;">
                        {% if block.type == 'image' %}
                            {% if blkSt.imgurl != blank %}<a href="{{blkSt.imgurl}}">{% endif %}
                            {% if blkSt.image != blank %}
                                <div class="imgWrapper of_hidden" style="max-width:{{blkSt.image.width}}px;border-radius: {{blkSt.img_rad}}px;">
                                    <img class="custom__image imgFl lazyload" src="{{ blkSt.image | img_url: "50x" }}" width="{{blkSt.image.width}}" height="{{blkSt.image.height}}"
                                        data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '400,700,1000,1200,1600,2000' %}" data-sizes="auto" alt="{{ blkSt.image.alt | escape }}" style="--ipos:{{imgPos}};">
                                </div>
                            {% else %}
                                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                            {% if blkSt.imgurl != blank %} </a> {% endif %}
			  
                        {% elsif block.type == 'text' %}			  				
			  			<div class="{{ blkSt.align_text }}">
                                {% if blkSt.image != blank %}
                                    {% if blkSt.btnurl != blank %} <a href="{{blkSt.btnurl}}"> {% endif %}
                                    <div class="imgWrapper" style="max-width:{{blkSt.image.width}}px;">
                                        <img class="custom__image imgFl lazyload" src="{{ blkSt.image | img_url: "50x" }}" width="{{blkSt.image.width}}" height="{{blkSt.image.height}}"
                                            data-srcset="{% render 'lazyload', image: blkSt.image, sizes: '400,700,1000,1200,1600,2000' %}" data-sizes="auto" alt="{{ blkSt.image.alt | escape }}" style="--ipos:{{imgPos}};">
                                    </div>
                                    {% if blkSt.btnurl != blank %} </a> {% endif %}
                                {% endif %}
                                <div class="custom-text">
                                    {% if blkSt.title != blank %}
										<h3 class="ttlTxt mb10" style="--tcl:{{blkSt.block_txt}};--tfs:{{blkSt.fs}}px;--tfsm:{{blkSt.fsm}}px;--tlh:{{blkSt.lh}};--tfw:{{blkSt.fw}};">{{ blkSt.title }}</h3>
									{% endif %}
                                    {% if blkSt.text != blank %}<div class="ttlTxt rte-setting" style="--tcl:{{blkSt.block_txt}};--tfs:{{blkSt.dfs}}px;--tfsm:{{blkSt.dfsm}}px;--tlh:{{blkSt.dlh}};">{{ blkSt.text }}</div>{% endif %}
                                    {% if blkSt.btntxt != blank and blkSt.btnurl != blank %}                             
                                        <a class="btn {{section.settings.btn-size-mob}} {{section.settings.btn-size-desk}} {{blkSt.btn-style}}" href="{{blkSt.btnurl}}">{{ blkSt.btntxt }}</a>
                                    {% endif %}
                                </div>
                            </div>			                            
                            <style>
                            {% if blkSt.eblock_bg %}
                            .custom__item--{{block.id}}{ align-self:stretch; display:flex;}  
                            .custom__item--{{block.id}} .ct-inner-text { padding:30px; display:flex; align-items: center; align-self:stretch;  background:{{blkSt.block_bg}};}
                            .custom__item--{{block.id}} .ct-inner-text > div { width:100%;}
                            .custom__item--{{block.id}} h3,  .ci-{{block.id}} p { color:{{blkSt.block_txt}};}
                            {% endif %}              	
                            </style>
                        {% elsif block.type == 'video' %}
					   		<div class="video-sec of_hidden" style="border-radius:{{blkSt.bg_rad}}px"> 
							{% if blkSt.video_url == blank and blkSt.mp4video == blank	%}
								<div class="video-wrapper">
									<iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
								</div>
							{% else %}         
								{% if blkSt.video_url.type == "youtube" %}        
									<div class="video-wrapper"><iframe src="//www.youtube.com/embed/{{ blkSt.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
								{% endif %}
								{% if blkSt.video_url.type == "vimeo" %}
									<div class="video-wrapper"><iframe src="//player.vimeo.com/video/{{ blkSt.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
								{% endif %}   

								{% if blkSt.video_url == blank and blkSt.mp4video != blank %}   

								 {%- liquid 											
										 if blkSt.is_autoplay == true 
											assign mutev = muted
										 else
											assign mutev = false
										  endif 										
								  -%}       
								{{ blkSt.mp4video | video_tag :loop:true, autoplay:blkSt.is_autoplay, muted:mutev, controls:blkSt.enable_cntrl, class:'w_100', image_size: '600x' }} 						     
								{% endif %}

							{% endif %} 
							{%- if blkSt.title != blank -%}
								 <div class="fl video-text{% if blkSt.is_autoplay %} pa l0 t0 w_100 h_100{% endif %}" style="--tfs:{{blkSt.tfs}}px;--tfsm:{{blkSt.tfsm}}px;--tlh:{{blkSt.blh}};--tfw:{{blkSt.bfw}};--tcl:{{blkSt.color_ttl}};">
										<div class="fl f-jce f-aic {{ blkSt.text_align }} w_100">
											 <div class="ttlTxt">{{ blkSt.title }}</div> 
										</div>
								</div>
							{% endif %}
						</div>        
                        {% elsif block.type == 'product' %}
                            {%- assign product = all_products[blkSt.product] -%}
                            {% if product.title.size > 0 %}
                                {% render 'product-card-grid', product: product, secSt: secSt %}
                            {% else %}         
                                <div class="grid-view-item">
                                    <a class="gimg-link" href="#">
                                        <div class="gitem-img">
                                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                        <div class="priceWraper">{{ 1999 | money }}</div>
                                    </a>
                                </div>
                            {% endif %}
                        {% elsif block.type == 'collection' %}
                             {%- assign collection = collections[blkSt.collection] -%}
                            <div class="of_hidden" style="--tfs:{{blkSt.tfs}}px;--tfsm:{{blkSt.tfsm}}px;--tlh:{{blkSt.blh}};--tfw:{{blkSt.bfw}};--tcl:{{blkSt.color_ttl}};border-radius: {{blkSt.bg_rad}}px;">{% render 'collection-grid-item', collection: collection, secSt: secSt, blkSt:blkSt %}
							</div>
                        {% elsif block.type == 'liquid' %}
                            {% if blkSt.code != blank %}{{ blkSt.code }}{% endif %}
                        {% endif %}
                    </div>
      </div>

      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>

<style>
 .custom-block.fullwidth .grid-mr-{{ secSt.grid-spacing}} { margin:0; }
</style>

{% schema %}
{
    "name": "t:sections.custom_content.masonry",
    "class": "index-section",
    "settings": [
        {
            "type": "textarea",
            "id": "title",
            "label": "t:sections.all.head",
            "default": "Heading"
        },
        {
            "type": "textarea",
            "id": "subtitle",
            "label": "t:sections.all.sub_head",
            "default": "Describe your products, collection, content etc..."
        },
        {
            "type": "header",
            "content": "t:sections.all.name"
        },
        {
            "type": "select",
            "id": "top-offeset",
            "label": "t:sections.all.top_offSet",
            "default": "default",
            "options": [
                {
                    "value": "default",
                    "label": "Default"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "section_width",
            "label": "t:global.fullwidth",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "hide_mobile",
            "label": "t:global.devices.mobile_hide",
            "default": false
        },
       {
            "type": "checkbox",
            "id": "hided",
            "label":"t:global.devices.desktop_hide",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "section_cov",
            "label": "t:global.background.add",
            "default": false
        },
        {
            "type": "color",
            "id": "sec_bg_clr",
            "label": "t:global.background.color",
            "default": "#fafafa",
            "info": "select light color"
        },
        {
            "type": "color_background",
            "id": "bgg",
            "label": "t:global.background.gradient"
        },
        {
            "type": "header",
            "content": "t:global.grid.name"
        },
        {
            "type": "range",
            "id": "grid-spacing",
            "label": "t:global.grid.space",
            "default": 40,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "grid-spacing-mbl",
            "label": "t:global.grid.space_mobile",
            "default": 20,
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "info": "t:global.grid.space_info"
        },
        {
            "type": "range",
            "id": "grid-spacing-col",
            "label": "t:global.grid.column",
            "default": 2,
            "min": 2,
            "max": 10,
            "step": 1,
            "info": "t:sections.custom_content.blocks.grid_column_guide"
        },
        {
            "type": "select",
            "id": "prbox_style",
            "label": "t:sections.custom_content.product_grid_style",
            "default": "style1",
            "options": [
                {
                    "value": "style1",
                    "label": "Style 1 - Default Info Center"
                },
                {
                    "value": "style2",
                    "label": "Style 2 - Info Hover Image"
                },
                {
                    "value": "style3",
                    "label": "Style 3 - Info Below Image"
                },
                {
                    "value": "style4",
                    "label": "Style 4 - Default Info Left"
                },
                {
                    "value": "style5",
                    "label": "Style 5 - Display Text Button"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_color_swatch",
            "label": "t:sections.custom_content.blocks.show_swatch",
            "default": true
        },
        {
            "type": "select",
            "id": "btn-size-desk",
            "label": "t:global.button.size",
            "default": "btn-md",
            "options": [
                {
                    "label": "Small",
                    "value": "btn-sm"
                },
                {
                    "label": "Medium",
                    "value": "btn-md"
                },
                {
                    "label": "Large",
                    "value": "btn-lg"
                }
            ]
        },
        {
            "type": "select",
            "id": "btn-size-mob",
            "label": "t:global.button.size_mobile",
            "default": "mob-btn-sm",
            "options": [
                {
                    "label": "Small",
                    "value": "mob-btn-sm"
                },
                {
                    "label": "Medium",
                    "value": "mob-btn-md"
                },
                {
                    "label": "Large",
                    "value": "mob-btn-lg"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "t:sections.custom_content.blocks.block_text",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:global.image.name"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "t:sections.all.head",
                    "default": "Best Selling Shopify Theme"
                },
                {
                    "type": "range",
                    "id": "fs",
                    "label": "t:global.font.size",
                    "default": 25,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "fsm",
                    "label": "t:global.font.size_mobile",
                    "default": 18,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "select",
                    "id": "fw",
                    "label": "t:global.font.weight",
                    "default": "600",
                    "options": [{
                            "value": "300",
                            "label": "Light"
                        },
                        {
                            "value": "400",
                            "label": "Regular"
                        },
                        {
                            "value": "500",
                            "label": "Medium"
                        },
                        {
                            "value": "600",
                            "label": "Semi Bold"
                        },
                        {
                            "value": "700",
                            "label": "Bold"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "lh",
                    "label": "t:global.font.height",
                    "default": 1.2,
                    "min": 1.0,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "t:global.font.height_info"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "t:global.text.text",
                    "default": "<p>We are dedicated to providing high-quality shopify themes with a great design and extensive functionality</p>"
                },
                {
                    "type": "range",
                    "id": "dfs",
                    "label": "t:global.font.size",
                    "default": 16,
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "dlh",
                    "label": "t:global.font.height",
                    "default": 1.6,
                    "min": 1.0,
                    "max": 2.0,
                    "step": 0.1,
                    "info": "t:global.font.height_info"
                },
                {
                    "type": "range",
                    "id": "dfsm",
                    "label": "t:global.font.size_mobile",
                    "default": 14,
                    "min": 10,
                    "max": 60,
                    "step": 1,
                    "unit": "px"
                },
                {
                    "type": "text",
                    "id": "btntxt",
                    "label": "t:global.button.text",
                    "default": "Read More"
                },
                {
                    "type": "url",
                    "id": "btnurl",
                    "label": "t:sections.all.url"
                },
                {
                    "type": "select",
                    "id": "btn-style",
                    "label": "t:global.button.select",
                    "default": "btn",
                    "options": [
                        {
                            "label": "Solid Button 1",
                            "value": "btn"
                        },
                        {
                            "label": "Solid Button 2",
                            "value": "btn2"
                        },
                        {
                            "label": "Solid Button 3",
                            "value": "btn3"
                        },
                        {
                            "label": "Border Button 1",
                            "value": "bdr-btn1"
                        },
                        {
                            "label": "Border Button 2",
                            "value": "bdr-btn2"
                        }
                    ]
                },
			   {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "align_text",
                    "label": "t:sections.custom_content.blocks.horizontal_alignment",
                    "default": "tc",
                    "options": [
                        {
                            "value": "tl",
                            "label": "Left"
                        },
                        {
                            "value": "tc",
                            "label": "Centered"
                        },
                        {
                            "value": "tr",
                            "label": "Right"
                        }
                    ]
                },
				{
                    "type": "checkbox",
                    "id": "eblock_bg",
                    "label": "t:global.background.add",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "block_bg",
                    "label": "t:global.background.color",
                    "default": "#f5f5f5"
                },
                {
                    "type": "range",
                    "id": "bg_rad",
                    "min": 0,
                    "max": 30,
                    "step": 1,
                    "label": "t:global.background.radius",
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "color",
                    "id": "block_txt",
                    "label": "t:global.color.text",
                    "default": "#000"
                }                
            ]
        },
        {
            "type": "image",
            "name": "t:sections.custom_content.blocks.block_image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:global.image.name"
                },
                {
                    "type": "url",
                    "id": "imgurl",
                    "label": "t:global.link"
                },
				 {
                    "type": "range",
                    "id": "img_rad",
                    "min": 0,
                    "max": 30,
                    "step": 1,
                    "label": "t:global.image.radius",
                    "unit": "px",
                    "default": 0
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "video",
            "name": "t:sections.custom_content.blocks.block_video",
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.video_section.embed_video"
                },
                {
                    "type": "video_url",
                    "id": "video_url",
                    "label": "t:sections.video_section.video_url",
                    "accept": ["youtube", "vimeo"]
                },
                {
                    "type": "header",
                    "content": "t:sections.video_section.mp4_video"
                },
                {
                    "type": "video",
                    "id": "mp4video",
                    "label": "t:sections.video_section.select_video"
                },
                {
                    "type": "checkbox",
                    "id": "enable_cntrl",
                    "label": "t:sections.video_section.enable_controls",
                    "default": false,
                    "info": "t:sections.video_section.controls_info"
                },
                {
                    "type": "checkbox",
                    "id": "is_autoplay",
                    "label": "t:sections.video_section.enable_autoplay",
                    "default": false,
                    "info": "t:sections.video_section.autoplay_info"
                },               
                {
                    "type": "textarea",
                    "id": "title",
                    "label": "t:global.text.text",
                    "default": "AVONE - BEST SELLING<BR/>SHOPIFY THEME"
                },
                {
				"type": "color",
				"id": "color_ttl",
				"label": "Color",
				"default": "#000"
			    },	
			   {
				  "type": "range",
				  "id": "tfs",
				  "label": "t:global.font.size",
				  "default": 30,
				  "min": 10,
				  "max": 100,
				  "step": 1,
				  "unit": "px"
			  },
			  {
				"type": "select",
				"id": "bfw",
				"label": "t:global.font.weight",
				"default": "600",
				"options": [
					{
						"value": "300",
						"label": "Light"
					},
					{
						"value": "400",
						"label": "Regular"
					},
					{
						"value": "500",
						"label": "Medium"
					},
					{
						"value": "600",
						"label": "Semi Bold"
					},
					{
						"value": "700",
						"label": "Bold"
					}
				]
			  }, 	
		     {
						"type": "range",
						"id": "blh",
						"label": "t:global.font.height",
						"default": 1.2,
						"min": 1.0,
						"max": 2.0,
						"step": 0.1,
						"info": "t:global.font.height_info"
			   }, 		
			  {
				  "type": "range",
				  "id": "tfsm",
				  "label": "t:global.font.size_mobile",
				  "default": 20,
				  "min": 10,
				  "max": 60,
				  "step": 1,
				  "unit": "px"
			  },
			{
				"type": "select",
				"id": "text_align",
				"label": "t:global.text.position",
				"default": "f-jcc-md f-aie-md tc",			
				"options": [
					{ "label": "Top Left",      "value": "f-ais-md f-jcs-md" },
					{ "label": "Top Center",    "value": "f-jcc-md f-ais-md tc" },
					{ "label": "Top Right",     "value": "f-jce-md f-ais-md" },             
					{ "label": "Left",  		  "value": "f-aic-md f-jcs-md" },
					{ "label": "Center", 		  "value": "f-jcc-md f-aic-md tc" },
					{ "label": "Right",  		  "value": "f-jce-md f-aic-md" },
					{ "label": "Bottom Left",   "value": "f-aie-md f-jcs-md" },						 
					{ "label": "Bottom Center", "value": "f-jcc-md f-aie-md tc" }, 						 
					{ "label": "Bottom Right",  "value": "f-jce-md f-aie-md" }
				]
            },	
			  {
					"type": "range",
					"id": "bg_rad",
					"min": 0,
					"max": 30,
					"step": 1,
					"label": "t:global.background.radius",
					"unit": "px",
					"default": 0
				},
                {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                }               
            ]
        },
        {
            "type": "product",
            "name": "t:sections.custom_content.blocks.block_product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "t:sections.all.select_product"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "collection",
            "name": "t:sections.custom_content.blocks.block_collection",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "collection_image",
                    "label": "t:global.image.name"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "t:sections.all.select_collection"
                },
                {
                    "type": "textarea",
                    "id": "collection_name",
                    "label": "t:sections.collections.block.custom_name"
                },
				 {
				"type": "color",
				"id": "color_ttl",
				"label": "Color",
				"default": "#000"
			    },	
			   {
				"type": "color",
				"id": "color_bg",
				"label": "t:global.background.color",
				"default": "#f5f5f5"
			    },	
			   {
				  "type": "range",
				  "id": "tfs",
				  "label": "t:global.font.size",
				  "default": 16,
				  "min": 10,
				  "max": 50,
				  "step": 1,
				  "unit": "px"
			  },
			  {
				"type": "select",
				"id": "bfw",
				"label": "t:global.font.weight",
				"default": "500",
				"options": [
					{
						"value": "300",
						"label": "Light"
					},
					{
						"value": "400",
						"label": "Regular"
					},
					{
						"value": "500",
						"label": "Medium"
					},
					{
						"value": "600",
						"label": "Semi Bold"
					},
					{
						"value": "700",
						"label": "Bold"
					}
				]
			  }, 	
		     {
						"type": "range",
						"id": "blh",
						"label": "t:global.font.height",
						"default": 1.2,
						"min": 1.0,
						"max": 2.0,
						"step": 0.1,
						"info": "t:global.font.height_info"
			   }, 		
			  {
				  "type": "range",
				  "id": "tfsm",
				  "label": "t:global.font.size_mobile",
				  "default": 14,
				  "min": 10,
				  "max": 60,
				  "step": 1,
				  "unit": "px"
			  },
				 {
					"type": "range",
					"id": "bg_rad",
					"min": 0,
					"max": 30,
					"step": 1,
					"label": "t:global.background.radius",
					"unit": "px",
					"default": 0
				},
                {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        },
        {
            "type": "liquid",
            "name": "t:sections.custom_liquid.name",
            "settings": [
                {
                    "type": "liquid",
                    "id": "code",
                    "label": "t:sections.custom_liquid.code"
                },
                {
                    "type": "select",
                    "id": "width",
                    "label": "t:sections.all.column_width",
                    "default": "wd50-md",
                    "options": [
                        {
                            "value": "wd20-md",
                            "label": "20%"
                        },
                        {
                            "value": "wd25-md",
                            "label": "25%"
                        },
                        {
                            "value": "wd33-md",
                            "label": "33%"
                        },
                        {
                            "value": "wd50-md",
                            "label": "50%"
                        },
                        {
                            "value": "wd66-md",
                            "label": "66%"
                        },
                        {
                            "value": "wd75-md",
                            "label": "75%"
                        },
                        {
                            "value": "wd100",
                            "label": "100%"
                        }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Block(Masonry)",
            "category": "Advance Layout",
            "blocks": [
                {
                    "type": "text"
                },
                {
                    "type": "image"
                }
            ]
        }
    ]
}
{% endschema %}