{%- assign secSt = section.settings -%}
<style type="text/css">
  {% if secSt.password_bg %}
  .password-page, #LoginModal { background:url({{secSt.password_bg  | img_url: '2048x'}}) no-repeat 50% 50%/cover; }
  {% else %}
  .password-page, #LoginModal { background-color:{{secSt.bg_color}}; }
	{% endif %} 
   .logotxt {text-transform: uppercase; line-height: 1.3;}
  .shopify-section { color:{{secSt.cnt_txt}}; display:inline-block; max-width:600px; padding:40px; margin:0 auto; position:relative; }
  .shopify-section:after { content:""; display:block; width:100%; height:100%; position:absolute; top:0; left:0; z-index:1;
    background-color:{{secSt.cnt_bg}}; opacity:{{secSt.cnt_bg_opacity}}; border-radius: {{secSt.bdr}}px;  }
  .logotxt, .rgTxt, .rgTxt, .share-title { color:{{secSt.cnt_txt}}; }
  .passCnt { position:relative; z-index:2; }
  .passCnt .input-group { padding-bottom: 20px; margin: 0 auto;  max-width: 380px;}
  @media only screen and (max-width: 766px) {
    .shopify-section { padding:25px; }
  }
</style>

<div class="passCnt">
  {% if secSt.logo %}
  <a href="/" itemprop="url" class="site-header__logo-image">
    {% capture image_size %}{{ secSt.logo_max_width | escape }}x{% endcapture %}
    <img src="{{ secSt.logo | img_url: image_size }}" srcset="{{ secSt.logo | img_url: image_size }} 1x, {{ secSt.logo | img_url: image_size, scale: 2 }} 2x"
         alt="{{ secSt.logo.alt | default: shop.name }}" itemprop="logo">
  </a>
  {% else %}
  <h1 class="logotxt" href="/" itemprop="url"><span class="logo">{{ shop.name }}</span></h1>
  {% endif %}

  <div class="ttlTxt mb10" style="--tfs:{{secSt.tfs}}px;--tfsm:{{secSt.tfsm}}px;--tfw:{{secSt.tfw}};--tlh:{{secSt.tlh}};">{{ secSt.header }}</div>

  {% unless shop.password_message == blank %}<div class="password-message">{{ shop.password_message }}</div>{% endunless %}

  {% if secSt.newsletter_enable %}
	  <div class="rgTxt mb30" style="--fs:{{secSt.fs}}px;--fsm:{{secSt.fsm}}px;--fw:{{secSt.fw}};--lh:{{secSt.lh}};">{{secSt.newsletter_form_heading}}</div>
      {% render 'newsletter-form' , formId: 'footPassword' %}
  {% endif %}

  {% if secSt.show_share_buttons %} 
    <p class="mb10">{{ secSt.social_message | escape }}</p>
    {% include 'social-sharing' %} 
  {% endif %}
  
  {% if secSt.show_powered_by %}
  <div class="password-powered-by">
    {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
    {% endcapture %}
    <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "t:sections.password_page.name",
    "settings": [
	  {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.password_page.logo"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "t:sections.password_page.logo_width",
        "default": "100"
      },
      {
        "type": "text",
        "id": "header",
        "label": "t:sections.all.head",
        "default": "Coming Soon"
      },
	  {
		"type":"header",
		"content": "t:sections.password_page.newsletter"
	  },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "t:global.display",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "t:global.text.title",
        "default": "Be the first to know when we launch.",
        "info": "t:sections.password_page.newsletter_info"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "t:sections.password_page.placeholder_text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "t:global.button.text",
        "default": "Notify me"
      },
	  {
		"type":"header",
		"content": "t:sections.password_page.social"
	  },
	  {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "t:global.display",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "t:global.text.title",
        "default": "Spread the word"
      },
      {
        "type": "checkbox",
        "id": "show_powered_by",
        "label": "Show powered by text?",
        "default": false
      },
	  {
		"type":"header",
		"content": "t:global.appearance"
	  },
	  {
        "type": "image_picker",
        "id": "password_bg",
        "label": "t:global.background.image",
        "info": "Images size should be 2000x1000"
      },
	  {
        "type": "color",
        "id": "bg_color",
        "label": "t:global.background.color",
        "default": "#777"
      },
	  {
        "type": "color",
        "id": "cnt_txt",
        "label": "t:global.color.text",
        "default": "#000"
      },

	 	 {
        "type": "color",
        "id": "bg",
        "label": "t:global.background.color",
        "default": "#fff"
      },      	 	 
	  {
        "type": "color",
        "id": "cnt_bg",
        "label": "t:global.background.box",
        "default": "#fff"
      },	    
	 {
        "type": "range",
        "id": "cnt_bg_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "t:global.background.opacity",
        "unit": "%",
        "default": 0.9
      },      
	 {
        "type": "range",
        "id": "bdr",
        "min": 0,
        "max": 50,
        "step": 1,
        "label": "t:global.border_radius",
        "unit": "px",
        "default": 0
      },
	  {
        "type": "paragraph",
        "content": "t:sections.all.heading.title"
      },
      {
        "type": "range",
        "id": "tfs",
        "label": "t:global.font.size",
        "default": 25,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "tfsm",
        "label": "t:global.font.size_mobile",
        "default": 16,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },   
    {
        "type": "select",
        "id": "tfw",
        "label": "t:global.font.weight",
        "default": "600",
        "options": [
            {
                "value": "300",
                "label": "Light"
            },
            {
                "value": "400",
                "label": "Regular"
            },
            {
                "value": "500",
                "label": "Medium"
            },
            {
                "value": "600",
                "label": "Semi Bold"
            },
            {
                "value": "700",
                "label": "Bold"
            }
        ]
    }, 	
    {
        "type": "range",
        "id": "tlh",
        "label": "t:global.font.height",
        "default": 1.2,
        "min": 1.0,
        "max": 2.0,
        "step": 0.1,
        "info": "t:global.font.height_info"
    },
	  {
        "type": "paragraph",
        "content": "t:sections.all.heading.details"
      },
      {
        "type": "range",
        "id": "fs",
        "label": "t:global.font.size",
        "default": 14,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "fsm",
        "label": "t:global.font.size_mobile",
        "default": 13,
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
    {
        "type": "select",
        "id": "fw",
        "label": "t:global.font.weight",
        "default": "400",
        "options": [
            {
                "value": "300",
                "label": "Light"
            },
            {
                "value": "400",
                "label": "Regular"
            },
            {
                "value": "500",
                "label": "Medium"
            },
            {
                "value": "600",
                "label": "Semi Bold"
            },
            {
                "value": "700",
                "label": "Bold"
            }
        ]
    }, 	
    {
        "type": "range",
        "id": "lh",
        "label": "t:global.font.height",
        "default": 1.2,
        "min": 1.0,
        "max": 2.0,
        "step": 0.1,
        "info": "t:global.font.height_info"
    }
    ]
  }
{% endschema %}
