{%- liquid
    assign isRtl = false
    assign lisRtl = 'ar,dv,ha,he,ku,fa,ur,ug' | split: ','
    if lisRtl contains request.locale.iso_code or settings.rtl
        assign isRtl = true
    endif
   
   assign secSt = section.settings
-%}
<div class="recent-product" id="{{ section.id }}" data-pr="{{ product.handle | handleize }}" data-section-id="{{ section.id }}" data-section-type="carousel">
  <div class="page-width{% if secSt.section_width %} fullwidth{% endif %}">
    {% render 'sec-title' %}
    <div id="products-{{ section.id }}">
      <div id="productSlider-{{ section.id }}" class="grid rwcols-{{secSt.mobile-grid}} rwcols-md-{{secSt.tablet-grid}} rwcols-lg-{{secSt.grid}} grid-products carousel arwOut"></div>
    </div>
  </div>
</div>
<script>
	window.addEventListener('DOMContentLoaded',function(){
    	var rcCookie = "recentproducts",
      		pr = "{{ product.handle | handleize }}";
        if(getCookie(rcCookie) == null){
			var str = pr;
            $('#{{ section.id }}').hide();
        } else {
          	var ctrItems = String(getCookie(rcCookie)).split("+");
	        if(ctrItems.length < {{section.settings.recently_pr_limit | plus: 1}}){
            	if(getCookie(rcCookie).indexOf(pr) == -1) {
    	        	var str = pr + '+' + getCookie(rcCookie);
        		}
        	} else {
              	if(getCookie(rcCookie).indexOf(pr) == -1) {
    	        	var str = pr + '+' + ctrItems.slice(0, -1).join("+");
        		}
        	}
            $.ajax({
                url: '{{ routes.collections_url }}/all?type='+getCookie(rcCookie)+'__pr='+pr+'&view=prlist',
                dataType: 'html',
                type: 'GET',
                success: function(data){
                    if($(data).find('.grid-view-item').length){
                        $('#productSlider-{{section.id}}').html(data);
                    } else {
                        $('#{{ section.id }}').hide();
                    }
                },
                error: function(data) {
                    console.log('ajax error');
                },
                complete: function(){
                    $('#productSlider-{{ section.id }}').flickity({
                        "cellAlign":"left",
                        "groupCells":true,
                        "wrapAround":true,
                        "pageDots":false
                        {%- if section.settings.autoplay -%},"autoPlay":{{section.settings.speed | times: 1000}}{% endif %}
                        {%- if isRtl -%},"rightToLeft": true{%- endif -%}
                    });
                    theme.countdown();
                }
            });
		}
        if(str != undefined){
		  setCookie(rcCookie, str, 7);
        }
	});
</script>
{% schema %}
  {
    "name": "t:sections.recently_viewed.name",
	"class": "content-indent default",
    "settings": [
 	  {
        "id": "title",
        "type": "text",
        "label": "t:sections.all.head",
        "default": "Recently Viewed Products"
      },
 	  {
        "id": "subtitle",
        "type": "text",
        "label": "t:sections.all.sub_head",
        "default": "You can stop autoplay, increase/decrease aniamtion speed and number of grid to show and products from store admin."
      },
      {
		"type":"checkbox",
		"id":"section_width",
		"label":"t:global.fullwidth",
		"default": false
	  },
	  {
        "type": "paragraph",
        "content": "t:sections.all.products_per_row"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "t:global.devices.desktop",
        "default": 4,
        "min": 2,
        "max": 7,
        "step": 1
      },
      {
        "type": "range",
        "id": "tablet-grid",
        "label": "t:global.devices.tablet",
        "default": 3,
        "min": 1,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "mobile-grid",
        "label": "t:global.devices.mobile",
        "default": 2,
        "min": 1,
        "max": 3,
        "step": 1
      },
      {
        "type": "text",
        "id": "recently_pr_limit",
        "label": "t:sections.all.number_of_product",
        "default": "8"
      },
	  {
        "type": "header",
        "content": "t:sections.all.carousel.name"
      }, 	  
	  {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:sections.all.carousel.autoplay",
        "default": false
      },
      {
        "type": "range",
        "id": "speed",
        "label": "t:sections.all.carousel.speed",
        "default": 5,
        "min": 1,
        "max": 30,
        "step": 1,
		"unit": "Sec"
      }
	]
  }
{% endschema %}